@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    background: rgba(49, 170, 170, 0.767);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
}

.name-form {
    /* border: 10px solid black; */
    margin-top: 50%;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center center;
}

#submit-button {
    font-family: 'Lilita One', cursive;
    background: rgb(206, 147, 59);
    font-size: xx-large;
    font-weight: bold;
    grid-column: 1/3;
    border-radius: 3mm;
}

.name-label {
    font-size: 200%;
    font-family: 'Righteous', cursive;
}

.name-input {
    /* font-family: 'Press Start 2P', cursive; */
    border-radius: 5mm;
    font-family: 'Bungee', cursive;
    height: 60%;
    width: 90%;
    font-size: 150%;
}

#submit-button:hover {
    background: rgb(177, 114, 19);
    transform: scale(1.25);
    border-radius: 3mm;
}

.live-info {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
    margin-left: 13%;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    /* align-self: center;
    justify-self: center; */
    margin-top: 10%;
    margin-left: 30%;
    justify-items: center;
}

.tic-grid {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    width: 150px;
    height: 150px;
    font-size: 2cm;
    background: rgba(30, 126, 126, 0.767);
    color: rgb(173, 175, 42);
    align-items: center;
    justify-content: center;
}

.tic-grid:hover {
    background: rgba(196, 97, 17, 0.89);
}